<div class="container">
  <br>
  <br>

  <div>
    <h4 class="h4-tags">Electrical engineer <span class="tags">at TOMLUX SPzoo</span> </h4>
    <span class="work-time">January 2016 - January 2021 <span class="black-line">|</span> Poland </span>

    <ul class="proffesion-duties">
      Installation of:
      <li>Power supply systems.</li>
      <li>Indoor and outdoor lighting.</li>
      <li>Access control systems.</li>
      <li>Video surveillance and security systems</li>
    </ul>
  </div>

  <img class="bg-logo" src="../../assets/img/work.png" alt="">

  <div>
    <h4 class="h4-tags">Production line operator <span class="tags">at Padana Chemical Compounds LLC</span> </h4>
    <span class="work-time">January 2014 - December 2016 <span class="black-line">|</span> Ukraine </span>

    <ul class="proffesion-duties">
      <li>Knowledge of the Siemens Siematic Step7 system.</li>
      <li>Support of line operation at all stages of production.</li>
      <li>Skillful operation of a loader.</li>
    </ul>
  </div>

