<div class="main-container">
  <div class="img-container">
    <img src="../../assets/img/287.jpg" alt="photo of Dima Pereklita" />
  </div>

  <div class="bio-container">
    <div class="bio-text">
      <p>
        I'm a beginner Front-End Developer with a technical background, have
        good knowledge of HTML_5 and CSS_3.
        <br />
        Actively learning JavaScript.
        <br />
        Now I'm eager to join an IT company and become a professional in
        development.
      </p>
    </div>

    <div class="contact-container">
      <div>
        <span class="contacts-link-type"></span>
        <a class="contacts-link" href="tel:380978525640">
          <mat-icon aria-hidden="false">phone</mat-icon>
          Call me</a>
      </div>
      <div>
        <span class="contacts-link-type"></span>
        <a class="contacts-link" href="mailto:pereklita.d@gmail.com">
          <mat-icon aria-hidden="false">mail</mat-icon>
          Mail me</a
        >
      </div>
      <div>
        <span class="contacts-link-type"></span>
        <a
          class="contacts-link"
          href="https://www.linkedin.com/in/dmytro-pereklita-5ab42b209/"
          target="_blank"
        >
        <mat-icon aria-hidden="false">linkedin</mat-icon>
          Me on LinkedIn
        </a>
      </div>
      <div>
        <span class="contacts-link-type"></span>
        <a
          class="contacts-link"
          href="https://www.instagram.com/pereklita_d/"
          target="_blank"
        >
        <mat-icon aria-hidden="false">camera</mat-icon>
          Me on Instagram
        </a>
      </div>
    </div>
  </div>

</div>


