<div class="container">

  <div class="tech-skils-container">
    <h3 class="tech-skils-title">Tech Skills</h3>
  
    <ul>
      <li class="tech-skils-item">
        <span class="tech-skils-text">HTML_5</span>
      </li>
      <li class="tech-skils-item">
        <span class="tech-skils-text">CSS_3</span>
      </li>
      <li class="tech-skils-item">
        <span class="tech-skils-text">JavaScript (basic)</span>
      </li>
    </ul>
  </div>

  <img class="bg-logo" src="../../assets/img/soft2.png" alt="">
  
  <img class="bg-logo1" src="../../assets/img/soft1.jpg" alt="">
  
  <div class="soft-skils-container">
    <h3 class="soft-skils-title">Languages Skills</h3>
    <ul>
      <li class="soft-skils-item">
        <span class="soft-skils-text">Ukrainian (native)
        </span>
      </li>
      <li class="soft-skils-item">
        <span class="soft-skils-text">English (intermediate)
        </span>
      </li>
      <li class="soft-skils-item">
        <span class="soft-skils-text">Polish (intermediate)
        </span>
      </li>
      <li class="soft-skils-item">
        <span class="soft-skils-text">Russian (upper-intermediate)</span>
      </li>
    </ul>
  </div>

</div>
