<div class="container">

  <div>
    <h4 class="h4-tags">Ivano-Frankivsk National Technical University of Oil and Gas</h4>
    <span class="work-time">2011 - 2014 <span class="black-line">|</span> Ukraine </span>

    <h5 class="edu-name">Institute of Information Technologies</h5>
  </div>

  <img class="bg-logo" src="../../assets/img/edu.png" alt="">
  
  <div>
    
    <h4 class="h4-tags">
      College of Electronic Devices, Ivano-Frankivsk National Technical University
      of Oil and Gas
    </h4>
    <span class="work-time">2007 - 2011 <span class="black-line">|</span>  Ukraine </span>

    <h5 class="edu-name">Automation and computer-integrated technologies</h5>
  </div>

</div>